@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-family: Roboto, Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  user-select: none;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

ul,
footer,
.subtitle,
.call-subtitle {
  font-weight: 100;
  color: #e5e7eb;
  font-size: 18px;
}

.subtitle {
  margin-bottom: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.logo,
.title,
.call-title {
  color: #f9faf8;
  font-weight: 900;
}

.logo,
.call-title {
  font-size: 24px;
}

.title {
  font-size: 48px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.awesome {
  width: 450px;
  padding: 35px;
}

.first-button,
.second-button {
  padding: 8px 30px;
  color: #e5e7eb;
  background-color: #3882f6;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
}

.image {
  color: #e5e7eb;
  background-color: #767676;
  width: 500px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.information {
  background-color: #f0f0f0;
  color: #1f2937;
  text-align: center;
  padding: 50px;
  height: 380px;
}

.random {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.shape {
  width: 160px;
  height: 160px;
  border: 4px solid #3882f6;
  border-radius: 10px;
  margin-bottom: 10px;
}

.shape-info {
  color: #525252;
}

.subinfo-box {
  font-size: 18px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.subinfo {
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: center;
}

.quote-box {
  background-color: #e5e7eb;
  color: #1f2937;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  width: 830px;
}

.author {
  font-size: 24px;
  font-weight: bold;
  width: 830px;
  text-align: end;
}

.call {
  background-color: #f0f0f0;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action {
  color: #e5e7eb;
  height: 120px;
  width: 1000px;
  background-color: #3882f6;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.second-button {
  border: 2px solid #e5e7eb;
}
